@import "header.css";
@import "buttons.css";
@import "footer.css";
@import "styles.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* HOJA DE ESTILO GENERAL */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*Formato aplicado a toda la página*/
* { 
  font-family: 'Montserrat', helvetica, sans-serif;
  box-sizing: border-box;
  user-select: none; /*Evitar la selección de los textos*/
}

html {
  overflow-x: hidden;
  background-color: rgba(26,26,26,1.0);
}

body {
  padding: 0;
  margin: 0;
}

main {
  background-color: rgba(0,0,0,.9);
}

/*Líneas de separación*/
hr {
  border: none;
  background-color: rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.2);
  height: 1px;

}

/*Clase para centrar Divs*/
.center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: center;
  justify-content: center;  
  margin: auto;
}

/*Clase para cargar imágenes en el HTML*/
.load {
  display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*ATRIBUTOS QUE SE REDISTRIBUIRÁN EN NUEVAS HOJAS DE ESTILO*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*Clase para que no se resalte el fondo del icono del menú desplegable al pulsar sobre el en la versión móvil*/
.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#background {
  position: absolute;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.terms-container {
  margin: 45px;
  padding: 120px;
  padding-top: 73px;
  margin-top: 50px;
  max-width: 1260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}

#terms-title {
  margin-bottom: 60px;
  font-weight: 600;
}

.gap {
  height: 10px;
}

/*Clase que se añadirá al header cuando se haga scroll hacia abajo*/
#white #nav-icon span {
  background: rgba(0,0,0,.9);
}
#white .menu-left a {
  color: rgba(0,0,0,.9);
}
#white .menu-right li a {
  color: rgba(0,0,0,.9);
}
#white .separator {
  color: rgba(0,0,0,0.3);
}
#white .menu-right li a:after {
  background-color: rgba(0,0,0,.9);
}

#white select {
  color: rgba(0,0,0,.9);
}

/*Opciones del selector*/
#white option {
  font-size: 14px;
  color: rgba(0,0,0,.9);
  padding: 2px;
}

#white label {
  color: rgba(0,0,0,.9);
}

@media only screen and (max-width: 980px) {
  .terms-container {
    margin: 0;
    padding: 2.5em;
    padding-top: 4.25em;
    padding-bottom: 3.75em;
    font-size: calc(16 * 0.215vw);
  }

  #terms-title {
    margin-bottom: 1.5em;
  }
}